.all-quiz-header {
	position: relative;
	margin-bottom: 10.5rem; 
	margin-top: 18.5rem;

	@include breakpoint(desktop) {
		margin-bottom: 10.2rem; 
		margin-top: 0;
	}

	&__img {
		width: 100%;

		& img {
			width: 100%;
		}
	}

	& .main-wrapper {
		position: absolute;
		top: 10.4rem; 
		left: 0;

		@include breakpoint(desktop) {
			left: 50%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			top: 20.2rem;
		}
	}

	& .c-heading {
		color: $white;
		margin-bottom: 12.3rem; 

		@include breakpoint(desktop) {
			margin-bottom: 12.8rem; 
		}
	}

	& .c-txt-header {
		color: $white;
		padding-left: 8rem; 
		padding-right: 8rem;
	}
}