.videos-header {
	margin-top: 18.5rem;
	position: relative;

	@include breakpoint(desktop) {
		margin-top: 0;
	}

	&__img {
		& img {
			width: 100%;
		}
	}

	& .main-wrapper {
		position: absolute;
		top: 10.4rem; 
		left: 0;

		@include breakpoint(desktop) {
			left: 50%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			top: 25.2%;
		}
	}

	&__wrap {
		text-align: center;
	}

	& .c-heading {
		color: $white;
		margin-bottom: 6.6rem;

		@include breakpoint(desktop) {
			margin-bottom: 3.5rem;
		}
	}

	& .c-btn--main {
		margin-bottom: 8.1rem;
		padding-left: 2.9rem;
		padding-right: 2.9rem;

		@include breakpoint(desktop) {
			font-family: "HelloType-Regular", sans-serif;
			font-size: 1.2rem;
			padding-left: 4.5rem;
			padding-right: 4.5rem;
			margin-bottom: 5.2rem;
		}
	}

	& .c-txt-header {
		color: $white;

		@include breakpoint(desktop) {
			width: 45%;
		}
	}

	& .c-down-mark {
		color: $white;
	}
}