.long-read {

	&__img-sec {
		padding-top: 12.5%;

		@include breakpoint(desktop) {
			padding-top: 6.3rem;
			padding-bottom: 6.4rem;

			&.slide-in {
				.long-read__img-sec__heading {
					@include breakpoint(desktop) {
						color: $white;
					}
				}

				.long-read__img-sec__img {
					@include breakpoint(desktop) {
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					}
				}
			}
		}

		&__img {
			position: relative;
			margin-top: 7.6%;
    		margin-bottom: 8%;

    		@include breakpoint(desktop) {
    			z-index: 1;
    			position: absolute;
			    top: 24.5rem;
			    width: 47.5rem;
			    height: 26.7rem;
				margin-top: 0;
				margin-bottom: 0;
				-webkit-transition: all 1s ease-in-out;
			    -moz-transition: all 1s ease-in-out;
			    -o-transition: all 1s ease-in-out;
			    transition: all 1s ease-in-out;

			    img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&__quote {
			margin-top: 8.8%;
			margin-bottom: 6.5%;

			@include breakpoint(desktop) {
				padding-left: 2.5%;
			    margin-top: 1.7%;
			    margin-bottom: -1.8%;
			}
		}

		&__promo {
			margin-top: 6.5%;

			@include breakpoint(desktop) {
				margin-top: 1.5%;
			}
		}
	}
}