.c-arrow {
	font-family: "HelloType-Regular", sans-serif;
	@include fontSizeRem(29, 22);
	text-align: center;
	display: inline-block;
    width: 8rem;
    height: 8rem;
    background: aqua; // change this according to spec when using this component
    border-radius: 50%;
    border: none;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;

    @include breakpoint(desktop) {
    	width: 6rem;
    	height: 6rem;
    }

	// &--right, &--left {
	// 	-webkit-transform: rotate(90deg);
	// 	-moz-transform:    rotate(90deg);
	// 	-ms-transform:     rotate(90deg);
	// 	-o-transform:      rotate(90deg);
	// 	transform:         rotate(90deg);
	// }

	&--shadow {
		-webkit-box-shadow: 0px 30px 110px -10px rgba(0,0,0,0.8);
		-moz-box-shadow: 0px 30px 110px -10px rgba(0,0,0,0.8);
		box-shadow: 0px 30px 110px -10px rgba(0,0,0,0.8);
	}
}