.c-block-heading {
	&__first-h2 {
		text-align: center;
		font-family: 'HelloType-Bold', sans-serif;
		@include fontSizeRem(68, 60);
		@include lineHeightRem(68, 60); 
		@include letterSpacingEm(-40, -40);
		text-transform: uppercase;
		color: $lightGray;

		@include breakpoint(desktop) {
			padding: 0 40rem;
		}
	}

	&__second-h2 {
		font-family: 'Sketch', sans-serif;
		@include fontSizeRem(112, 100);
		color: $darkRed;
		// background: -webkit-linear-gradient(90deg, #eee, #333);
		// background: -moz-linear-gradient(90deg, #eee, #333);
		// background: -o-linear-gradient(90deg, #eee, #333);
		// background: -ms-linear-gradient(90deg, #eee, #333);
		// background: linear-gradient(90deg, #eee, #333);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
	
		text-transform: none;
		text-align: center;
		transform: translateY(-7.8rem);

		@include breakpoint(desktop) {
			transform: translateY(-6rem);
		}


		&:after {
			content: "";
			height: 0.6rem;
			width: 6.6rem;
			border-radius: 0.6rem;
			display: block;
			background: $blue;
			margin-left: 26.2rem;
			margin-top: -1rem;

			@include breakpoint(desktop) {
				margin-left: 56.3rem;
				height: 0.5rem;
				width: 5.9rem;
				border-radius: 0.6rem;
				margin-top: -0.7rem;
			}
		}
	}
}