.c-block-heading {
	&__first-h2 {
		text-align: center;
		font-family: 'HelloType-Bold', sans-serif;
		@include fontSizeRem(68, 60);
		@include lineHeightRem(68, 60); 
		@include letterSpacingEm(-40, -40);
		text-transform: uppercase;
		color: $lightGray;
		position: relative;

		@include breakpoint(desktop) {
			padding: 0 40rem;
		}

		&:after {
			content: "";
			height: 0.6rem;
			width: 6.6rem;
			border-radius: 0.6rem;
			display: block;
			background: $blue;
			position: absolute;
			bottom: -4.2rem;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);

			@include breakpoint(desktop) {
				height: 0.5rem;
				width: 5.9rem;
				border-radius: 0.6rem;
				bottom: -3.9rem;
			}
		}
	}

	&__second-h2 {
		font-family: 'Sketch', sans-serif;
		@include fontSizeRem(112, 100);
		@include lineHeightRem(120, 108);
		@include letterSpacingEm(-25, -25);
		background: -webkit-linear-gradient(90deg, $blue, $lightBlue);
		background: -moz-linear-gradient(90deg, $blue, $lightBlue);
		background: -o-linear-gradient(90deg, $blue, $lightBlue);
		background: -ms-linear-gradient(90deg, $blue, $lightBlue);
		background: linear-gradient(90deg, $blue, $lightBlue);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
		position: relative;
		z-index: 1;
		top: -7.3rem;

		@include breakpoint(desktop) {
			top: -6.3rem;
			margin-left: 34%;
			margin-right: 34%;
		}
	}
}