.c-down-mark {
	font-family: "HelloType-Regular", sans-serif;
	@include fontSizeRem(40, 23);
	text-align: center;
	height: 12rem;
	line-height: 12rem;

	@include breakpoint(desktop) {
    	height: 8.2rem;
		line-height: 8rem;
    }
}