<!-- pagination -->
<div class="c-pagination  u-clearfix">

	<a class="c-pagination__page  c-pagination__page--prev" href="#" onclick="return false;">
		<span class="c-pagination__page__arrow  u-pos-relative">&lt;</span>
		<span class="c-pagination__page__text">Précédent</span>
	</a>

	<ul class="c-pagination__page-list">
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">1</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">2</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">3</a></li>
		<li class="c-pagination__page-list__li  active"><a href="#" onclick="return false;">4</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">5</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">6</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">7</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">8</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">9</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">10</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">11</a></li>
		<li class="c-pagination__page-list__li"><a href="#" onclick="return false;">12</a></li>
	</ul>

	<a class="c-pagination__page  c-pagination__page--next" href="#" onclick="return false;">
		<span class="c-pagination__page__text">Suivant</span>
		<span class="c-pagination__page__arrow  u-pos-relative">&gt;</span>
	</a>

</div>