.livenews-page {
	& .b-recents .main-wrapper--v1 {
		padding-bottom: 6.3rem;

		@include breakpoint(desktop) {
			padding-top: 10.4rem;
			padding-bottom: 6.1rem;
		}
	}

	& .b-footer {
		@include breakpoint(mobile) {
			margin-bottom: 16.5rem;
		}
	}

	& .b-recents__heading {
		@include breakpoint(desktop) {
			top: 29.4rem;
    		left: 0.4rem;
		}
	}
}