a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 100; }

html {
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-tap-highlight-color: transparent !important; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-size: 100%; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

b,
strong {
  font-weight: bold; }

em,
i {
  font-style: italic; }

u {
  text-decoration: underline; }

a img {
  border: none; }

a, button {
  cursor: pointer;
  outline: none;
  border-radius: 0; }

a {
  color: inherit; }

input {
  outline: none;
  border-radius: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

.slick-slide {
  outline: none; }

html {
  font-size: 10px; }
  @media (max-width: 750px) {
    html {
      font-size: 1.33333vw; } }
  @media (min-width: 751px) {
    html {
      font-size: 0.69444vw; } }
  @media (min-width: 1441px) {
    html {
      font-size: 10px; } }

@font-face {
  font-family: 'HelloType-Bold';
  src: url("../../assets/fonts/hello-type/HelloType-Bold.eot");
  src: url("../../assets/fonts/hello-type/HelloType-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/hello-type/HelloType-Bold.woff") format("woff"), url("../../assets/fonts/hello-type/HelloType-Bold.woff2") format("woff2"), url("../../assets/fonts/hello-type/HelloType-Bold.ttf") format("truetype"), url("../../assets/fonts/hello-type/HelloType-Bold.svg#HelloType-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelloType-Regular';
  src: url("../../assets/fonts/hello-type/Hello Type Regular.eot");
  src: url("../../assets/fonts/hello-type/Hello Type Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/hello-type/Hello Type Regular.woff") format("woff"), url("../../assets/fonts/hello-type/Hello Type Regular.woff2") format("woff2"), url("../../assets/fonts/hello-type/Hello Type Regular.ttf") format("truetype"), url("../../assets/fonts/hello-type/Hello Type Regular.svg#HelloType-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Sketch';
  src: url("../../assets/fonts/sketch/Sketch.eot");
  src: url("../../assets/fonts/sketch/Sketch.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sketch/Sketch.woff") format("woff"), url("../../assets/fonts/sketch/Sketch.woff2") format("woff2"), url("../../assets/fonts/sketch/Sketch.ttf") format("truetype"), url("../../assets/fonts/sketch/Sketch.svg#Sketch") format("svg");
  font-weight: normal;
  font-style: normal; }

.u-clearfix {
  *zoom: 1; }
  .u-clearfix:before, .u-clearfix:after {
    content: "";
    display: table; }
  .u-clearfix:after {
    clear: both; }

.u-pos-relative {
  position: relative; }

.u-dspl-flex-cntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.u-text--uppercase {
  text-transform: uppercase; }

.u-text--black {
  color: #000; }

.u-text--white {
  color: #fff; }

.u-text--black1 {
  color: #111; }

.u-text--lightGray {
  color: #f0f0f0; }

.u-text--gray {
  color: #999; }

.u-text--darkBlue {
  color: #176d8c; }

.u-text--blue {
  color: #0081a8; }

.u-text--lightBlue {
  color: #0acfdf; }

.u-text--darkRed {
  color: #df5050; }

.u-text--lightRed {
  color: #fb7979; }

.u-background--black {
  background: #000; }

.u-background--white {
  background: #fff; }

.u-background--black1 {
  background: #111; }

.u-background--lightGray {
  background: #f0f0f0; }

.u-background--gray {
  background: #999; }

.u-background--darkBlue {
  background: #176d8c; }

.u-background--blue {
  background: #0081a8; }

.u-background--lightBlue {
  background: #0acfdf; }

.u-background--darkRed {
  background: #df5050; }

.u-background--lightRed {
  background: #fb7979; }

.main-content {
  width: 100%; }

.main-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px; }
  .main-wrapper--v1 {
    padding-left: 8rem;
    padding-right: 8rem; }
    @media (min-width: 751px) {
      .main-wrapper--v1 {
        padding-left: 12.8rem;
        padding-right: 12.8rem; } }

.c-block-name {
  height: 3.7rem;
  line-height: 3.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-block;
  font-family: 'HelloType-Bold';
  background: #fff;
  color: #999; }
  @media (max-width: 750px) {
    .c-block-name {
      font-size: 2.2rem; } }
  @media (min-width: 751px) {
    .c-block-name {
      font-size: 1.6rem; } }
  @media (min-width: 751px) {
    .c-block-name {
      height: 2.4rem;
      line-height: 2.4rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-right: 10rem;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      position: absolute;
      top: 12rem; } }
  .c-block-name--gray {
    background: #f0f0f0; }

.c-social {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  height: 9.9rem;
  padding-left: 5.6%;
  padding-right: 6.8%;
  padding-top: 3.3rem; }
  @media (min-width: 751px) {
    .c-social {
      position: absolute;
      top: 0;
      height: 18.2rem;
      width: 6rem;
      padding: 0;
      background: none; } }
  .c-social__text {
    width: 60%;
    float: left;
    font-family: 'HelloType-Bold';
    color: #fff; }
    @media (max-width: 750px) {
      .c-social__text {
        font-size: 2.6rem; } }
    @media (min-width: 751px) {
      .c-social__text {
        font-size: 1.6rem; } }
    @media (min-width: 751px) {
      .c-social__text {
        width: 18.2rem;
        height: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        float: none;
        position: absolute;
        top: 7.9rem;
        left: -8rem;
        background: #111; } }
  .c-social__icons {
    width: 40%;
    float: right;
    text-align: right; }
    @media (min-width: 751px) {
      .c-social__icons {
        float: none;
        position: absolute;
        top: 1.1rem;
        right: 0; } }
    .c-social__icons-fb {
      width: 3.7rem;
      height: 3.5rem;
      display: inline-block;
      margin-right: 6.4rem; }
      @media (min-width: 751px) {
        .c-social__icons-fb {
          margin-right: 0;
          width: 1.8rem;
          height: 1.7rem;
          margin-bottom: 2.4rem; } }
      .c-social__icons-fb svg {
        width: 100%;
        height: 100%;
        fill: #999; }
    .c-social__icons-tw {
      width: 3.6rem;
      height: 3.2rem;
      display: inline-block;
      margin-right: 6.4rem; }
      @media (min-width: 751px) {
        .c-social__icons-tw {
          margin-right: 0;
          width: 1.7rem;
          height: 1.5rem;
          margin-bottom: 2.2rem; } }
      .c-social__icons-tw svg {
        width: 100%;
        height: 100%;
        fill: #999; }
    .c-social__icons-in {
      width: 3.5rem;
      height: 3.1rem;
      display: inline-block; }
      @media (min-width: 751px) {
        .c-social__icons-in {
          width: 1.7rem;
          height: 1.5rem; } }
      .c-social__icons-in svg {
        width: 100%;
        height: 100%;
        fill: #999; }
  .c-social--hp {
    position: absolute;
    top: 0;
    width: 28.3rem;
    height: 23.1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 7.7rem;
    background: #111;
    z-index: 1; }
    @media (min-width: 751px) {
      .c-social--hp {
        position: absolute;
        height: 22rem;
        width: 27rem;
        padding-top: 7.6rem;
        padding-right: 7rem;
        padding-left: 7rem; } }
    .c-social--hp .c-social__text {
      width: 100%;
      float: none;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2.5rem; }
      @media (max-width: 750px) {
        .c-social--hp .c-social__text {
          font-size: 2.2rem; } }
      @media (min-width: 751px) {
        .c-social--hp .c-social__text {
          font-size: 1.2rem; } }
      @media (max-width: 750px) {
        .c-social--hp .c-social__text {
          letter-spacing: 0.06em; } }
      @media (min-width: 751px) {
        .c-social--hp .c-social__text {
          letter-spacing: 0.06em; } }
      @media (min-width: 751px) {
        .c-social--hp .c-social__text {
          width: 100%;
          height: auto;
          line-height: 1.5;
          text-align: center;
          background: none;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          float: none;
          position: static;
          margin-bottom: 2.3rem; } }
    .c-social--hp .c-social__icons {
      width: 100%;
      float: none;
      text-align: center; }
      @media (min-width: 751px) {
        .c-social--hp .c-social__icons {
          position: static; } }
      .c-social--hp .c-social__icons-fb {
        width: 2.5rem;
        height: 2.4rem;
        margin-right: 2.1rem; }
        @media (min-width: 751px) {
          .c-social--hp .c-social__icons-fb {
            width: 1.3rem;
            height: 1.2rem;
            margin-right: 0.9rem;
            margin-bottom: 0; } }
        .c-social--hp .c-social__icons-fb svg {
          fill: #fff; }
      .c-social--hp .c-social__icons-tw {
        width: 2.7rem;
        height: 2.4rem;
        margin-right: 1.9rem; }
        @media (min-width: 751px) {
          .c-social--hp .c-social__icons-tw {
            width: 1.4rem;
            height: 1.2rem;
            margin-right: 0.9rem;
            margin-left: 0.1rem;
            margin-bottom: 0; } }
        .c-social--hp .c-social__icons-tw svg {
          fill: #fff; }
      .c-social--hp .c-social__icons-in {
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 0.1rem; }
        @media (min-width: 751px) {
          .c-social--hp .c-social__icons-in {
            width: 1.4rem;
            height: 1.2rem; } }
        .c-social--hp .c-social__icons-in svg {
          fill: #fff; }
    .c-social--hp .c-social__back-text {
      position: absolute;
      top: 3.2rem;
      left: 0;
      font-family: 'Sketch';
      color: #000;
      text-align: center;
      z-index: -1; }
      @media (max-width: 750px) {
        .c-social--hp .c-social__back-text {
          font-size: 13rem; } }
      @media (min-width: 751px) {
        .c-social--hp .c-social__back-text {
          font-size: 12.3rem; } }
      @media (max-width: 750px) {
        .c-social--hp .c-social__back-text {
          line-height: 9.2rem; } }
      @media (min-width: 751px) {
        .c-social--hp .c-social__back-text {
          line-height: 8.8rem; } }
  @media (min-width: 751px) {
    .c-social--quiz {
      position: absolute;
      top: 0;
      height: 9.6rem;
      width: 27rem;
      padding-top: 2.1rem;
      padding-right: 1rem;
      padding-left: 1rem;
      background: #111; } }
  .c-social--quiz .c-social__text {
    margin-top: 0.7rem; }
    @media (max-width: 750px) {
      .c-social--quiz .c-social__text {
        font-size: 2.2rem; } }
    @media (min-width: 751px) {
      .c-social--quiz .c-social__text {
        font-size: 1.2rem; } }
    @media (max-width: 750px) {
      .c-social--quiz .c-social__text {
        letter-spacing: 0.06em; } }
    @media (min-width: 751px) {
      .c-social--quiz .c-social__text {
        letter-spacing: 0.06em; } }
    @media (min-width: 751px) {
      .c-social--quiz .c-social__text {
        width: 100%;
        height: auto;
        line-height: 1.5;
        text-align: center;
        background: none;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        float: none;
        position: static;
        margin-bottom: 1.2rem;
        text-transform: uppercase; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons {
      position: static;
      float: none;
      width: 100%;
      text-align: center; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons-fb {
      width: 1.3rem;
      height: 1.2rem;
      margin-right: 0.9rem;
      margin-bottom: 0; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons-fb svg {
      fill: #fff; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons-tw {
      width: 1.4rem;
      height: 1.2rem;
      margin-right: 0.9rem;
      margin-bottom: 0; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons-tw svg {
      fill: #fff; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons-in {
      width: 1.4rem;
      height: 1.2rem; } }
  @media (min-width: 751px) {
    .c-social--quiz .c-social__icons-in svg {
      fill: #fff; } }

.c-arrow {
  font-family: "HelloType-Regular", sans-serif;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background: aqua;
  border-radius: 50%; }
  @media (max-width: 750px) {
    .c-arrow {
      font-size: 2.9rem; } }
  @media (min-width: 751px) {
    .c-arrow {
      font-size: 2.2rem; } }
  @media (min-width: 751px) {
    .c-arrow {
      width: 6rem;
      height: 6rem; } }
  .c-arrow:before {
    content: ">";
    color: #111;
    position: absolute;
    top: 30%;
    left: 38%; }
  .c-arrow--left:before {
    content: "<"; }
  .c-arrow--top:before {
    left: 35%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  .c-arrow--bottom:before {
    left: 41%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .c-arrow--shadow {
    -webkit-box-shadow: 0px 50px 150px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 50px 150px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 50px 150px -10px rgba(0, 0, 0, 0.4); }

.c-pagination {
  height: 8.7rem;
  border: 1px solid #d9d9d9;
  border-radius: 5rem; }
  @media (min-width: 751px) {
    .c-pagination {
      height: 6.4rem; } }
  .c-pagination__page {
    height: 8.4rem;
    color: #111; }
    @media (min-width: 751px) {
      .c-pagination__page {
        height: 6.2rem; } }
    .c-pagination__page.hidden {
      visibility: hidden; }
    .c-pagination__page__text {
      font-family: "HelloType-Bold", sans-serif; }
      @media (max-width: 750px) {
        .c-pagination__page__text {
          font-size: 2.6rem; } }
      @media (min-width: 751px) {
        .c-pagination__page__text {
          font-size: 1.4rem; } }
    .c-pagination__page__arrow {
      font-family: "HelloType-Regular", sans-serif;
      top: 1.2rem; }
      @media (max-width: 750px) {
        .c-pagination__page__arrow {
          font-size: 6rem; } }
      @media (min-width: 751px) {
        .c-pagination__page__arrow {
          font-size: 3.014rem; } }
      @media (min-width: 751px) {
        .c-pagination__page__arrow {
          top: 0.6rem; } }
    .c-pagination__page--prev {
      float: left;
      margin-left: 4.5%; }
      @media (min-width: 751px) {
        .c-pagination__page--prev {
          margin-left: 2.4%; } }
      .c-pagination__page--prev .c-pagination__page__text {
        margin-left: 2rem; }
        @media (min-width: 751px) {
          .c-pagination__page--prev .c-pagination__page__text {
            line-height: 4.3;
            margin-left: 2.6rem; } }
    .c-pagination__page--next {
      float: right;
      margin-right: 4.5%; }
      @media (min-width: 751px) {
        .c-pagination__page--next {
          margin-right: 2.4%; } }
      .c-pagination__page--next .c-pagination__page__text {
        margin-right: 2rem; }
        @media (min-width: 751px) {
          .c-pagination__page--next .c-pagination__page__text {
            line-height: 4.3;
            margin-right: 2.6rem; } }
  .c-pagination__page-list {
    display: block;
    font-family: "HelloType-Bold", sans-serif;
    color: #111;
    float: left;
    line-height: 4.3;
    margin-left: 25.2%; }
    @media (max-width: 750px) {
      .c-pagination__page-list {
        display: none; } }
    @media (max-width: 750px) {
      .c-pagination__page-list {
        font-size: 2.6rem; } }
    @media (min-width: 751px) {
      .c-pagination__page-list {
        font-size: 1.4rem; } }
    .c-pagination__page-list__li {
      display: inline-block;
      margin-right: 0.9rem; }
      .c-pagination__page-list__li.active {
        color: #0acfdf; }

.c-btn {
  display: inline-block;
  background: #0081a8;
  height: 9.2rem;
  line-height: 9.2rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  border-radius: 5.5rem;
  font-family: 'HelloType-Bold';
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 750px) {
    .c-btn {
      font-size: 1.8rem; } }
  @media (min-width: 751px) {
    .c-btn {
      font-size: 1.2rem; } }
  @media (max-width: 750px) {
    .c-btn {
      letter-spacing: 0.04em; } }
  @media (min-width: 751px) {
    .c-btn {
      letter-spacing: 0em; } }
  @media (min-width: 751px) {
    .c-btn {
      height: 6rem;
      line-height: 6rem;
      padding-left: 3rem;
      padding-right: 3rem;
      border-radius: 3rem;
      transform: scale(1);
      transition: transform 0.35s ease; } }
  @media (min-width: 751px) {
    .c-btn:hover {
      transform: scale(1.07);
      transition-timing-function: cubic-bezier(0.16, 0.6, 0.77, 2); } }
  .c-btn--white {
    background: #fff;
    color: #111; }
  .c-btn--lightBlue {
    background: #0acfdf; }
  .c-btn--shadowed {
    box-shadow: 0 2.4rem 7.9rem -1.4rem rgba(0, 0, 0, 0.4); }
  .c-btn--red {
    background: linear-gradient(to right, #df5050, #fb7979); }
  .c-btn--main {
    height: 7rem;
    line-height: 7rem;
    padding-left: 5.7rem;
    padding-right: 5.7rem;
    border-radius: 5.7rem; }
    @media (max-width: 750px) {
      .c-btn--main {
        font-size: 1.8rem; } }
    @media (min-width: 751px) {
      .c-btn--main {
        font-size: 1.4rem; } }
    @media (min-width: 751px) {
      .c-btn--main {
        height: 6rem;
        line-height: 6rem;
        padding-left: 5.6rem;
        padding-right: 5.6rem;
        border-radius: 5.6rem; } }

.c-down-mark {
  font-family: "HelloType-Regular", sans-serif;
  text-align: center;
  height: 12rem;
  line-height: 12rem; }
  @media (max-width: 750px) {
    .c-down-mark {
      font-size: 4rem; } }
  @media (min-width: 751px) {
    .c-down-mark {
      font-size: 2.3rem; } }
  @media (min-width: 751px) {
    .c-down-mark {
      height: 8.2rem;
      line-height: 8rem; } }

.c-heading {
  font-family: "HelloType-Regular", sans-serif;
  text-align: center; }
  @media (max-width: 750px) {
    .c-heading {
      font-size: 4.3rem; } }
  @media (min-width: 751px) {
    .c-heading {
      font-size: 4.8rem; } }

.c-txt-header {
  font-family: "HelloType-Regular", sans-serif;
  text-align: center; }
  @media (max-width: 750px) {
    .c-txt-header {
      font-size: 2.5rem; } }
  @media (min-width: 751px) {
    .c-txt-header {
      font-size: 1.6rem; } }
  @media (max-width: 750px) {
    .c-txt-header {
      line-height: 3rem; } }
  @media (min-width: 751px) {
    .c-txt-header {
      line-height: 2.4rem; } }
  @media (max-width: 750px) {
    .c-txt-header {
      letter-spacing: 0.025em; } }
  @media (min-width: 751px) {
    .c-txt-header {
      letter-spacing: 0.025em; } }
  @media (min-width: 751px) {
    .c-txt-header {
      width: 66%;
      margin: auto; } }

.c-media {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem; }
  @media (min-width: 751px) {
    .c-media {
      width: 27rem; } }
  .c-media__icon {
    text-align: center;
    position: relative;
    height: 11rem;
    padding-top: 2rem;
    z-index: 1; }
    @media (min-width: 751px) {
      .c-media__icon {
        height: 6rem; } }
    .c-media__icon::after {
      content: "";
      width: 6.4rem;
      height: 6rem;
      background: #f0f0f0;
      display: block;
      border-radius: 0.4rem;
      position: absolute;
      top: 0;
      left: 26.2rem;
      z-index: -1; }
      @media (min-width: 751px) {
        .c-media__icon::after {
          width: 4rem;
          height: 3.8rem;
          left: 11.5rem;
          top: 0.4rem; } }
    .c-media__icon::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 0;
      border-color: transparent #f0f0f0 transparent transparent;
      display: block;
      position: absolute;
      top: 6rem;
      left: 27.2rem;
      z-index: -1; }
      @media (min-width: 751px) {
        .c-media__icon::before {
          border-width: 0 0.6rem 0.6rem 0;
          left: 12.2rem;
          top: 4.2rem; } }
    .c-media__icon span {
      font-family: 'HelloType-Regular';
      text-transform: uppercase;
      color: #111; }
      @media (max-width: 750px) {
        .c-media__icon span {
          font-size: 2rem; } }
      @media (min-width: 751px) {
        .c-media__icon span {
          font-size: 1.2rem; } }
  .c-media__content {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (min-width: 751px) {
      .c-media__content:hover .c-media__link {
        color: #0081a8; } }
  .c-media__img {
    margin-bottom: 1.32rem;
    display: block;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (min-width: 751px) {
      .c-media__img {
        margin-bottom: 1.1rem; } }
    .c-media__img img {
      width: 100%; }
    @media (min-width: 751px) {
      .c-media__img:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0px 1.7rem 2.1rem -2rem rgba(0, 0, 0, 0.8); } }
  .c-media__body h3 {
    font-family: 'HelloType-Bold';
    color: #111;
    margin-bottom: 5.8rem;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (max-width: 750px) {
      .c-media__body h3 {
        font-size: 3rem; } }
    @media (min-width: 751px) {
      .c-media__body h3 {
        font-size: 2rem; } }
    @media (max-width: 750px) {
      .c-media__body h3 {
        line-height: 3.5rem; } }
    @media (min-width: 751px) {
      .c-media__body h3 {
        line-height: 2.5rem; } }
    @media (min-width: 751px) {
      .c-media__body h3 {
        margin-bottom: 2.1rem; } }
    @media (min-width: 751px) {
      .c-media__body h3:hover {
        color: #0081a8; } }
  .c-media__body .c-media__link {
    font-family: 'HelloType-Bold';
    color: #111; }
    @media (max-width: 750px) {
      .c-media__body .c-media__link {
        font-size: 2.2rem; } }
    @media (min-width: 751px) {
      .c-media__body .c-media__link {
        font-size: 1.2rem; } }
  @media (max-width: 750px) {
    .c-media--small {
      width: 28.2rem; } }
  @media (max-width: 750px) {
    .c-media--small .c-media__icon::after {
      top: 0;
      left: 11.1rem; } }
  @media (max-width: 750px) {
    .c-media--small .c-media__icon::before {
      top: 6rem;
      left: 12.1rem; } }
  @media (max-width: 750px) {
    .c-media--small .c-media__body h3 {
      margin-bottom: 4.1rem; } }
  @media (min-width: 751px) {
    .c-media--medium {
      width: 57.5rem; } }
  @media (min-width: 751px) {
    .c-media--medium .c-media__icon {
      height: 7.3rem; } }
  @media (min-width: 751px) {
    .c-media--medium .c-media__icon::after {
      left: 27rem;
      top: 0.4rem; } }
  @media (min-width: 751px) {
    .c-media--medium .c-media__icon::before {
      left: 27.7rem;
      top: 4.2rem; } }
  .c-media--medium .c-media__icon span {
    font-family: 'HelloType-Regular';
    text-transform: uppercase;
    color: #111; }
    @media (max-width: 750px) {
      .c-media--medium .c-media__icon span {
        font-size: 2rem; } }
    @media (min-width: 751px) {
      .c-media--medium .c-media__icon span {
        font-size: 1.2rem; } }
  @media (min-width: 751px) {
    .c-media--medium .c-media__body h3 {
      width: 70%; } }
  .c-media--dossier {
    background: green; }
    @media (min-width: 751px) {
      .c-media--dossier .c-media__content:hover .c-media__link {
        color: #fff; } }
    @media (max-width: 750px) {
      .c-media--dossier .c-media__img {
        margin-bottom: 0;
        float: left;
        width: 18.1rem; } }
    .c-media--dossier .c-media__img img {
      width: 100%; }
    @media (min-width: 751px) {
      .c-media--dossier .c-media__img:hover {
        transform: none;
        box-shadow: none; } }
    @media (max-width: 750px) {
      .c-media--dossier .c-media__body {
        float: left;
        width: 38rem;
        padding-left: 2.4rem;
        margin-top: -0.4rem; } }
    .c-media--dossier .c-media__body h3 {
      color: #fff;
      margin-bottom: 0; }
      @media (max-width: 750px) {
        .c-media--dossier .c-media__body h3 {
          font-size: 2.4rem; } }
      @media (min-width: 751px) {
        .c-media--dossier .c-media__body h3 {
          font-size: 2rem; } }
      @media (max-width: 750px) {
        .c-media--dossier .c-media__body h3 {
          line-height: 2.9rem; } }
      @media (min-width: 751px) {
        .c-media--dossier .c-media__body h3 {
          line-height: 2.5rem; } }
      @media (min-width: 751px) {
        .c-media--dossier .c-media__body h3 {
          margin-bottom: 2.1rem; } }
      @media (min-width: 751px) {
        .c-media--dossier .c-media__body h3:hover {
          color: #fff; } }
    .c-media--dossier .c-media__body .c-media__link {
      color: #fff; }
      @media (max-width: 750px) {
        .c-media--dossier .c-media__body .c-media__link {
          display: none; } }
  @media (min-width: 751px) {
    .c-media--big {
      width: 47.4rem; } }
  @media (max-width: 750px) {
    .c-media--big .c-media__icon {
      height: 11.4rem; } }
  @media (min-width: 751px) {
    .c-media--big .c-media__icon::after {
      left: 21.6rem; } }
  @media (min-width: 751px) {
    .c-media--big .c-media__icon::before {
      left: 22.6rem; } }
  .c-media--big .c-media__img {
    margin-bottom: 0; }
    @media (min-width: 751px) {
      .c-media--big .c-media__img:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0px 2.2rem 2.1rem -2rem rgba(0, 0, 0, 0.8); } }
  .c-media--big .c-media__body {
    padding: 8.4rem 7.2rem;
    text-align: center; }
    @media (min-width: 751px) {
      .c-media--big .c-media__body {
        padding: 6.5rem 0rem 10.5rem; } }
    .c-media--big .c-media__body h3 {
      font-family: 'HelloType-Bold';
      margin-bottom: 5rem;
      position: relative; }
      @media (max-width: 750px) {
        .c-media--big .c-media__body h3 {
          font-size: 3.6rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body h3 {
          font-size: 3.4rem; } }
      @media (max-width: 750px) {
        .c-media--big .c-media__body h3 {
          line-height: 4.2rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body h3 {
          line-height: 4.2rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body h3 {
          padding: 0 2.8rem;
          margin-bottom: 2.4rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body h3:hover {
          color: #111; } }
      .c-media--big .c-media__body h3::after {
        content: "";
        display: block;
        height: 0.6rem;
        width: 6.8rem;
        border-radius: 0.6rem;
        background: #999;
        position: absolute;
        top: -3.7rem;
        left: 18.7rem; }
        @media (min-width: 751px) {
          .c-media--big .c-media__body h3::after {
            height: 0.46rem;
            border-radius: 0.46rem;
            left: 20.8rem;
            top: -2.3rem;
            width: 5.9rem; } }
    .c-media--big .c-media__body p {
      font-family: 'HelloType-Regular';
      color: #999;
      margin-bottom: 6.9rem; }
      @media (max-width: 750px) {
        .c-media--big .c-media__body p {
          font-size: 2rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body p {
          font-size: 1.5rem; } }
      @media (max-width: 750px) {
        .c-media--big .c-media__body p {
          line-height: 3rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body p {
          line-height: 2.2rem; } }
      @media (min-width: 751px) {
        .c-media--big .c-media__body p {
          padding: 0 2rem;
          margin-bottom: 5.8rem; } }
  .c-media--big-gray .c-media__content {
    background: #f0f0f0; }

.c-media-landscape {
  margin-bottom: 3.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  @media (min-width: 751px) {
    .c-media-landscape {
      width: 37.2rem;
      padding-left: 2.6rem; } }
  @media (min-width: 751px) {
    .c-media-landscape:hover .c-media-landscape__body {
      color: #0081a8; } }
  .c-media-landscape__body {
    width: 61%;
    font-family: 'HelloType-Regular';
    color: #000;
    margin-top: -0.5rem; }
    @media (max-width: 750px) {
      .c-media-landscape__body {
        font-size: 2.4rem; } }
    @media (min-width: 751px) {
      .c-media-landscape__body {
        font-size: 1.4rem; } }
    @media (max-width: 750px) {
      .c-media-landscape__body {
        line-height: 3.4rem; } }
    @media (min-width: 751px) {
      .c-media-landscape__body {
        line-height: 1.8rem; } }
    @media (min-width: 751px) {
      .c-media-landscape__body {
        width: 41%;
        margin-top: -0.4rem;
        font-family: 'HelloType-Bold'; } }
  .c-media-landscape__img {
    width: 18.1rem;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (min-width: 751px) {
      .c-media-landscape__img {
        width: 16.9rem; } }
    @media (min-width: 751px) {
      .c-media-landscape__img:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0px 1.7rem 2.1rem -2rem rgba(0, 0, 0, 0.8); } }
    .c-media-landscape__img img {
      width: 100%; }

.c-block-heading h2 {
  text-align: center;
  font-family: 'HelloType-Bold';
  text-transform: uppercase;
  color: #f0f0f0; }
  @media (max-width: 750px) {
    .c-block-heading h2 {
      font-size: 6.8rem; } }
  @media (min-width: 751px) {
    .c-block-heading h2 {
      font-size: 6rem; } }
  @media (max-width: 750px) {
    .c-block-heading h2 {
      line-height: 6.8rem; } }
  @media (min-width: 751px) {
    .c-block-heading h2 {
      line-height: 6rem; } }
  @media (max-width: 750px) {
    .c-block-heading h2 {
      letter-spacing: -0.04em; } }
  @media (min-width: 751px) {
    .c-block-heading h2 {
      letter-spacing: -0.04em; } }
  @media (min-width: 751px) {
    .c-block-heading h2 {
      padding: 0 40rem; } }

.c-block-heading p {
  font-family: 'Sketch';
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: none;
  text-align: center;
  transform: translateY(-7.8rem); }
  @media (max-width: 750px) {
    .c-block-heading p {
      font-size: 11.2rem; } }
  @media (min-width: 751px) {
    .c-block-heading p {
      font-size: 10rem; } }
  @media (min-width: 751px) {
    .c-block-heading p {
      transform: translateY(-6rem); } }
  .c-block-heading p:after {
    content: "";
    height: 0.6rem;
    width: 6.6rem;
    border-radius: 0.6rem;
    display: block;
    background: #0081a8;
    margin-left: 26.2rem;
    margin-top: -1rem; }
    @media (min-width: 751px) {
      .c-block-heading p:after {
        margin-left: 56.3rem;
        height: 0.5rem;
        width: 5.9rem;
        border-radius: 0.6rem;
        margin-top: -0.7rem; } }

.b-article-video {
  background-color: rgba(251, 121, 121, 0.15);
  overflow: hidden; }
  @media (min-width: 751px) {
    .b-article-video {
      display: inline-block;
      width: 50rem; } }
  .b-article-video__background-txt {
    position: absolute;
    font-family: "Sketch", sans-serif;
    color: #ec8c8c;
    opacity: 0.09;
    text-align: right;
    bottom: 2.2%;
    right: -2.8%; }
    @media (max-width: 750px) {
      .b-article-video__background-txt {
        font-size: 25.724rem; } }
    @media (min-width: 751px) {
      .b-article-video__background-txt {
        font-size: 16.971rem; } }
    @media (max-width: 750px) {
      .b-article-video__background-txt {
        line-height: 18.387rem; } }
    @media (min-width: 751px) {
      .b-article-video__background-txt {
        line-height: 12.13rem; } }
    @media (min-width: 751px) {
      .b-article-video__background-txt {
        bottom: 5.6%;
        right: -2.4%; } }
  .b-article-video__content {
    display: block;
    width: 79%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 12.4%; }
    @media (min-width: 751px) {
      .b-article-video__content {
        width: 54%;
        margin-left: 20.5%;
        margin-top: 17.6%;
        margin-bottom: 20.6%; } }
    .b-article-video__content__teaser-name {
      display: block;
      font-family: "HelloType-Bold", sans-serif;
      text-align: center;
      color: #111;
      width: 45%;
      margin: auto; }
      @media (max-width: 750px) {
        .b-article-video__content__teaser-name {
          font-size: 3.6rem; } }
      @media (min-width: 751px) {
        .b-article-video__content__teaser-name {
          font-size: 2rem; } }
      @media (max-width: 750px) {
        .b-article-video__content__teaser-name {
          line-height: 4.4rem; } }
      @media (min-width: 751px) {
        .b-article-video__content__teaser-name {
          line-height: 2.5rem; } }
      @media (max-width: 750px) {
        .b-article-video__content__teaser-name {
          letter-spacing: -0.08em; } }
      @media (min-width: 751px) {
        .b-article-video__content__teaser-name {
          letter-spacing: 0em; } }
      @media (min-width: 751px) {
        .b-article-video__content__teaser-name {
          width: 60%; } }
    .b-article-video__content__teaser-video {
      padding-top: 5.8%; }
      @media (min-width: 751px) {
        .b-article-video__content__teaser-video {
          padding-top: 13%; } }
      .b-article-video__content__teaser-video__img {
        width: 100%;
        margin: auto; }
      .b-article-video__content__teaser-video__button {
        position: absolute;
        display: inline-block;
        background: linear-gradient(to right, #0081a8, #0acfdf);
        border-radius: 50%;
        width: 9.5rem;
        height: 9.5rem;
        top: 36%;
        left: 41.9%; }
        @media (min-width: 751px) {
          .b-article-video__content__teaser-video__button {
            width: 4.4rem;
            height: 4.4rem;
            top: 41.5%;
            left: 43%; } }
        .b-article-video__content__teaser-video__button__play {
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 1.5rem 0 1.5rem 1.8rem;
          border-color: transparent transparent transparent #111;
          top: 35%;
          left: 43.5%; }
          @media (min-width: 751px) {
            .b-article-video__content__teaser-video__button__play {
              border-width: 0.7rem 0 0.7rem 0.8rem; } }
      .b-article-video__content__teaser-video__txt {
        font-family: "HelloType-Regular", sans-serif;
        text-align: center;
        color: #999;
        position: absolute;
        bottom: 12%;
        line-height: 4rem; }
        @media (max-width: 750px) {
          .b-article-video__content__teaser-video__txt {
            font-size: 3.387rem; } }
        @media (min-width: 751px) {
          .b-article-video__content__teaser-video__txt {
            font-size: 1.371rem; } }
        @media (min-width: 751px) {
          .b-article-video__content__teaser-video__txt {
            bottom: 13%;
            line-height: 1.7rem; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
