$base-font-size: 10;

html {
  @include fontSizeVw($base-font-size, $base-font-size);
}

@font-face {
	font-family: 'HelloType-Bold';
	src: url('../../assets/fonts/hello-type/HelloType-Bold.eot');
	src: url('../../assets/fonts/hello-type/HelloType-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/hello-type/HelloType-Bold.woff') format('woff'),
	url('../../assets/fonts/hello-type/HelloType-Bold.woff2') format('woff2'),
	url('../../assets/fonts/hello-type/HelloType-Bold.ttf') format('truetype'),
	url('../../assets/fonts/hello-type/HelloType-Bold.svg#HelloType-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelloType-Regular';
	src: url('../../assets/fonts/hello-type/Hello Type Regular.eot');
	src: url('../../assets/fonts/hello-type/Hello Type Regular.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/hello-type/Hello Type Regular.woff') format('woff'),
	url('../../assets/fonts/hello-type/Hello Type Regular.woff2') format('woff2'),
	url('../../assets/fonts/hello-type/Hello Type Regular.ttf') format('truetype'),
	url('../../assets/fonts/hello-type/Hello Type Regular.svg#HelloType-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sketch';
	src: url('../../assets/fonts/hello-type/Sketch.eot');
	src: url('../../assets/fonts/hello-type/Sketch.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/hello-type/Sketch.woff') format('woff'),
	url('../../assets/fonts/hello-type/Sketch.woff2') format('woff2'),
	url('../../assets/fonts/hello-type/Sketch.ttf') format('truetype'),
	url('../../assets/fonts/hello-type/Sketch.svg#Sketch') format('svg');
	font-weight: normal;
	font-style: normal;
}
