$base-font-size: 10;

html {
  @include fontSizeVw($base-font-size, $base-font-size);
}

@font-face {
	font-family: 'HelloType-Bold';
	src: url('HelloType-Bold.eot');
	src: url('HelloType-Bold.eot?#iefix') format('embedded-opentype'),
	url('HelloType-Bold.woff') format('woff'),
	url('HelloType-Bold.woff2') format('woff2'),
	url('HelloType-Bold.ttf') format('truetype'),
	url('HelloType-Bold.svg#HelloType-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelloType-Regular';
	src: url('Hello Type Regular.eot');
	src: url('Hello Type Regular.eot?#iefix') format('embedded-opentype'),
	url('Hello Type Regular.woff') format('woff'),
	url('Hello Type Regular.woff2') format('woff2'),
	url('Hello Type Regular.ttf') format('truetype'),
	url('Hello Type Regular.svg#HelloType-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sketch';
	src: url('Sketch.eot');
	src: url('Sketch.eot?#iefix') format('embedded-opentype'),
	url('Sketch.woff') format('woff'),
	url('Sketch.woff2') format('woff2'),
	url('Sketch.ttf') format('truetype'),
	url('Sketch.svg#Sketch') format('svg');
	font-weight: normal;
	font-style: normal;
}